// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-ng-attr-hint {
}

atom-text-editor::shadow {
	.nghint-warning {
		background-color: fade(@background-color-warning, 40%);
	}
	.nghint-info {
		background-color: fade(@background-color-info, 40%);
	}

	.gutter {
		.nghint-line-number .nghint-info {
			color: @text-color-info !important;
		}

		.nghint-line-number .nghint-warning {
			color: @text-color-warning !important;
		}

		.nghint-line-number {
			&:hover {
				background-color: @background-color-highlight;
			}
		}
	}

}
