// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.tooltip {
	.nghint-tooltip {
		.icon-alert {
			color: @text-color-error;
		}
		.icon-info {
			color: @text-color-info;
		}
		.nghint-content {

		}
	}
}

atom-text-editor::shadow {

	.nghint-line {
		background-color: fade(@background-color-error, 40%);
	}

	.gutter {
		.nghint-line-number {
			background-color: fade(@background-color-error, 40%);
			color: @text-color-error !important;
			&:hover {
				background-color: @background-color-highlight;
			}
		}
	}

}
